<div class = "portrait">
  <%= image_tag "c1.jpg" %>
  <%= image_tag "c2.jpg" %>
  <%= image_tag "c3.jpg" %>
  <%= image_tag "c4.jpg" %>
  <%= image_tag "c5.jpg" %>
  <%= image_tag "c6.jpg" %>
  <%= image_tag "c7.jpg" %>
  <%= image_tag "c8.jpg" %>
  <%= image_tag "c9.jpg" %>
  <%= link_to "Назад", portfolio_path %>
</div>