<div class = "portrait">
  <%= image_tag "l1.jpg" %>
  <%= image_tag "l2.jpg" %>
  <%= image_tag "l3.jpg" %>
  <%= image_tag "l4.jpg" %>
  <%= image_tag "l5.jpg" %>
  <%= image_tag "l6.jpg" %>
  <%= image_tag "l7.jpg" %>
  <%= image_tag "l8.jpg" %>
  <%= image_tag "l9.jpg" %>
  <%= link_to "Назад", portfolio_path %>
</div>