<div class="categories col-xs-8 row">
  <div class="img1">
    <!--photo in application.css as a background-->
  </div>
  <div class="block">
  <ul>
    <li class="cat">
      <%= link_to_unless_current("Love Story", { :controller => "pages", :action => "love_story" }) do
        "Love story"
       end
       %> <br>
      <%= image_tag "l8.jpg" %>
    </l1>
    <li class="cat">
      <%= link_to_unless_current("Портрет", { :controller => "pages", :action => "portrait" }) do
        "Портрет"
      end
      %> <br>
      <%= image_tag "16.jpg" %>
    </l1>
    <l1 class="cat">
      <%= link_to_unless_current("Свадьба", { :controller => "pages", :action => "wedding" }) do
        "Свадьба"
      end
      %> <br>
      <%= image_tag "w5.jpg" %>
    </l1>
    <l1 class="cat">
        <%= link_to_unless_current("Детское фото", { :controller => "pages", :action => "children" }) do
          "Детское фото"
        end
        %> <br>
        <%= image_tag "c6.jpg" %>
    </l1>
  </ul>
  </div>
</div>
