<div class = "portrait">
  <%= image_tag "w1.jpg" %>
  <%= image_tag "w2.jpg" %>
  <%= image_tag "w3.jpg" %>
  <%= image_tag "w4.jpg" %>
  <%= image_tag "w5.jpg" %>
  <%= image_tag "w6.jpg" %>
  <%= image_tag "w7.jpg" %>
  <%= image_tag "w8.jpg" %>
  <%= link_to "Назад", portfolio_path %>
</div>