<div class = "portrait">
  <%= image_tag "w1.jpg" %>
  <%= image_tag "w2.jpg" %>
  <%= image_tag "w3.jpg" %>
  <%= image_tag "w4.jpg" %>
  <%= image_tag "w5.jpg" %>
  <%= image_tag "w6.jpg" %>
  <%= image_tag "w7.jpg" %>
  <%= image_tag "w7-1.jpg" %>
  <%= image_tag "w7-2.jpg" %>
  <%= image_tag "w7-3.jpg" %>
  <%= image_tag "w8.jpg" %>
  <%= image_tag "w9.jpg" %>
  <%= image_tag "w10.jpg" %>
  <%= image_tag "w11.jpg" %>
  <%= image_tag "w12.jpg" %>
  <%= image_tag "w13.jpg" %>
  <%= image_tag "w13-2.jpg" %>
  <%= image_tag "w14.jpg" %>
  <%= image_tag "w15.jpg" %>

  <%= link_to "Назад", portfolio_path %>
</div>